<header>
            
    <div class="card">
        <div class="card-body">

    <img id="logo" src="../assets/logo.jpg">
    
    <p>Argentina Programa - #YoProgramo</p>
   <figure>
    <a href="https://www.facebook.com/andresgrinblat"><img src="../assets/fb-logo.jpg"></a>
    <a href="https://www.linkedin.com/in/andres-grinblat/"><img src="../assets/Logo-Linkedin.png"></a>
    <a href="https://www.instagram.com/andresgrinblat/"><img src="../assets/instagram.png"></a>
</figure>
<button type="button" class="btn btn-outline-dark" (click)="login()" *ngIf="!isLogged">INGRESO</button>
<button type="button" class="btn btn-outline-dark" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>

</div>
</div>
</header>
