
<div class="card">
    <div class="card-body">

<div class="row">
<h1>Hard & Soft Skills</h1>
    <div class="text-center col-md-4 col-lg-4">
    <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../../../assets/html.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [title]="'HTML'"
        [titleColor]="'pink'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'yellow'"
        [innerStrokeColor]="'orange'"
        [animation]="true"
        [animationDuration]="600"
  ></circle-progress>
   
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../../../assets/CSS.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [title]="'HTML'"
        [titleColor]="'pink'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'yellow'"
        [innerStrokeColor]="'orange'"
        [animation]="true"
        [animationDuration]="600"
  ></circle-progress>
   
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="40"
        [radius]="100"
        [imageSrc]="'../../../assets/js.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [title]="'HTML'"
        [titleColor]="'pink'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'yellow'"
        [innerStrokeColor]="'orange'"
        [animation]="true"
        [animationDuration]="600"
  ></circle-progress>
   
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="30"
        [radius]="100"
        [imageSrc]="'../../../assets/git.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [title]="'HTML'"
        [titleColor]="'pink'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'yellow'"
        [innerStrokeColor]="'orange'"
        [animation]="true"
        [animationDuration]="600"
  ></circle-progress>
   
</div>  
<div class="text-center col-sm-4 col-md-4 col-lg-4" title="Comunicación">
    <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../../../assets/eng.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [title]="'HTML'"
        [titleColor]="'pink'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'yellow'"
        [innerStrokeColor]="'orange'"
        [animation]="true"
        [animationDuration]="600"
  ></circle-progress>
   
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4" title="Trabajo en Equipo">
    <circle-progress
        [percent]="95"
        [radius]="100"
        [imageSrc]="'../../../assets/grupal.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [title]="'HTML'"
        [titleColor]="'pink'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'yellow'"
        [innerStrokeColor]="'orange'"
        [animation]="true"
        [animationDuration]="600"
  ></circle-progress>
   
</div>
</div>

    </div>
    </div>